<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap                   = "./vendor/autoload.php"
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "false"
        syntaxCheck                 = "true"
        colors                      = "true">

    <testsuites>
        <!-- test all phpunit test (unit, integration, fonctionel) -->
        <testsuite name="MajoraRestClient_Test_Suite">
            <directory>./src/Tests</directory>
        </testsuite>

        <!-- test unit test only -->
        <testsuite name="MajoraRestClient_Unit_Test_Suite">
            <directory>./src/Tests/Unit</directory>
        </testsuite>

        <!-- test integration test only -->
        <testsuite name="MajoraRestClient_Integration_Test_Suite">
            <directory>./src/Tests/Integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./src/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

   <logging>
        <log type="coverage-html" target="./log/codeCoverage" charset="UTF-8"
             yui="true" highlight="true"
             lowUpperBound="50" highLowerBound="80"/>
    </logging>

</phpunit>
